.navLeft {
    position: absolute;
    display: inline-block;
    top: 60px;
    left: 0px;
    width: 360px;
}

.navLeftTop {
    position: relative;
    width: 360px;
    height: 200px; 
    background-color: #4d4d4d;
}

.circlePortrait {
    display:block;
    position: absolute;
    top: 145px;
    left:50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    z-index: 1;
    transform: translate(-50%,0);
    overflow: hidden;

}
.circlePortrait img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
}

.circlePortrait img[src = ""]{
    opacity:0;
    
}


.navLeftButton {
    position: relative;
    width: 360px;
    height: 453px;
    background-color: #ffffff;
}

.navLeftButton .username {
    position: absolute;
    color: #6b6d79;
    font-weight: 700;
    font-size: 24px;
    top: 90px;
    left:50%;
    transform: translate(-50%,0);
}

.navLeftButton .sign {
    position: absolute;
    color: #c5c5c5;
    font-size: 10px;
    top: 155px;
    left:50%;
    transform: translate(-50%,0);

}



.navLeftButton .modify {
    position: absolute;
    top: 210px;
    left:50%;
    transform: translate(-50%,0);
}

.navLeftButton .modify a{
    color: #434647;

}

.navLeftButton .moreInfo {
    position: absolute;
    top: 275px;
    left:50%;
    transform: translate(-50%,0);
}

.navLeftButton .moreInfo img {
    display: inline-block;
    width: 30px;
    height: 30px;
}